body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    margin-top: 80px;
    font-weight: 500;
    color: var(--gray-900);
    line-height: 0;
}

p {
    font-weight: 300;
    color: var(--gray-800);
    text-align: center;
}

.form {
    display: grid;
    gap: 10px;
    margin: 20px;
    grid-template-columns: auto 50vw;
}

.input-group {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.submit-btn {
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--blue-logo-primary);
    color: var(--gray-100);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--blue-logo-secondary);
    transition: all 0.2s;
}

input {
    padding: 5px;
    border: 1px solid var(--gray-300);
    border-radius: 6px;
    transition: all 0.2s;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--gray-400);
    transition: all 0.2s;
}

textarea {
    padding: 5px;
    border: 1px solid var(--gray-300);
    border-radius: 6px;
    min-width: calc(100% - 13px);
    max-width: calc(100% - 13px);
    min-height: 100px;
    transition: all 0.2s;
}

@media (max-width: 480px) {
    .form {
        grid-template-columns: 90vw;
    }
}