body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar-animation {
    animation-duration: 1.5s;
    animation-name: zoom-in-from-top;
    animation-timing-function: cubic-bezier(.16, .97, .93, .93);
}

.hero-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    margin-top: 30px;
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 1.5s forwards;
}

.hero-text {
    font-weight: 500;
    color: var(--gray-900);
}

.secondary-hero-text {
    font-weight: 300;
    color: var(--gray-800);
}

.call-to-action-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid var(--gray-100);
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 2s forwards;
}

.service-type,
.service-date {
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    color: #1e293b;
    font-size: medium;
    transition: 0.3s ease;
}

.service-type:focus,
.service-date:focus {
    outline: none;
    border: 1px solid var(--gray-300);
    background-color: var(--gray-200);
}

/* Chevron (Pfeil) ausblenden */
.service-type {
    -webkit-appearance: none;
    appearance: none;
}

.service-type:hover,
.service-date:hover {
    border: 1px solid var(--gray-300);
    background-color: var(--gray-200);
    cursor: pointer;
}

.details-btn {
    background-color: var(--blue-logo-primary);
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid #275989cc; /* Hier aufgehört */
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.details-btn:hover {
    background-color: #275989;
    border: 1px solid #1f486e;
    color: #f8fafc;
    cursor: pointer;
    transition: 0.3s ease;
}

.testimonials-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.testimonial {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    max-width: 300px;
    text-wrap: ellipsis;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 3.5s forwards;
}

.testimonial-text {
    font-weight: 300;
    color: #475569;
}

.testimonial-author {
    font-weight: 500;
    color: #1e293b;
}

.rating-star {
    color: #f1c40f;
    width: 20px;
}