body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar-animation {
    animation-duration: 1.5s;
    animation-name: zoom-in-from-top;
    animation-timing-function: cubic-bezier(.16, .97, .93, .93);
}

.hero-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    margin-top: 30px;
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 1.5s forwards;
}

.hero-text {
    font-weight: 500;
    color: #1e293b;
}

.secondary-hero-text {
    font-weight: 300;
    color: #475569;
}

.call-to-action-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid #eaf2f9;
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 2s forwards;
}

.service-type,
.service-date {
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    color: #1e293b;
    font-size: medium;
    transition: 0.3s ease;
}

.service-type:focus,
.service-date:focus {
    outline: none;
    border: 1px solid #cbd5e1;
    background-color: #e2e8f0;
}

/* Alten Chevron (Pfeil) ausblenden */
.service-type {
    -webkit-appearance: none;
    appearance: none;
}

.select-n-icon-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-type:hover,
.service-date:hover {
    border: 1px solid #cbd5e1;
    background-color: #e2e8f0;
    cursor: pointer;
}

.rounded-pill {
    border-radius: 100px;
    padding: 12px 24px;
    /* Erster Wert für top und bottom, zweiter Wert für left und right */
}

.details-btn {
    background-color: #3273b1cc;

    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid #275989cc;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.details-btn:hover {
    background-color: #275989;
    border: 1px solid #1f486e;
    color: #f8fafc;
    cursor: pointer;
    transition: 0.3s ease;
}

.testimonials-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.testimonial {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    max-width: 300px;
    text-wrap: ellipsis;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 3.5s forwards;
}

.testimonial-text {
    font-weight: 300;
    color: #475569;
}

.testimonial-author {
    font-weight: 500;
    color: #1e293b;
}

.rating-star {
    color: #f1c40f;
    width: 20px;
}



/* Keyframes */

@keyframes slide-in-from-top {
    from {
        position: relative;
        top: -100px;
        opacity: 0;
        visibility: visible;
        /* Sichtbarkeit während der Animation */
    }

    to {
        position: relative;
        top: 0;
        opacity: 100%;
        visibility: visible;
        /* Sichtbarkeit nach der Animation */
    }
}

@keyframes zoom-in-from-top {
    from {
        position: absolute;
        top: -200px;
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    to {
        position: sticky;
        top: 0;
        opacity: 100%;
        height: 70px;
        width: 60%;
    }
}