body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    line-height: 0;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 1.5s forwards;
    visibility: hidden;
}

h1 {
    margin-top: 80px;
    font-weight: 500;
    color: var(--gray-900);
    line-height: 0;
}

p {
    font-weight: 300;
    color: var(--gray-800);
    text-align: center;
}

.back-to-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 5px;
    margin-top: 30px;
    background-color: var(--blue-700);
    color:  var(--gray-100);
    text-decoration: none;
    transition: all 0.2s;
}

.home-icon {
    width: 17px;
}

.back-to-home:hover {
    cursor: pointer;
    background-color: var(--blue-800);
    transition: all 0.2s;
}