:root {
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;
    --blue-logo-primary: #0075b6;
    --blue-logo-secondary: #002e55;
}

/* Keyframes */

@keyframes slide-in-from-top {
    from {
        position: relative;
        top: -100px;
        opacity: 0;
        visibility: visible;
        /* Sichtbarkeit während der Animation */
    }

    to {
        position: relative;
        top: 0;
        opacity: 100%;
        visibility: visible;
        /* Sichtbarkeit nach der Animation */
    }
}

@keyframes zoom-in-from-top {
    from {
        position: absolute;
        top: -200px;
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    to {
        position: sticky;
        top: 0;
        opacity: 100%;
        height: 70px;
        width: 60%;
    }
}