body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.get-in-toutch-container {
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 0.5s forwards;
}

h1 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--gray-900);
    line-height: 0;
    text-align: center;
}

p {
    font-weight: 300;
    color: var(--gray-800);
    text-align: center;
}

.form {
    display: flex;
    gap: 10px;
    margin: 20px;
    width: 50vw;
    flex-flow: column;
}

.input-group {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.submit-btn {
    display: flex;
    grid-column: 1 / -1;
    width: calc(100% - 13px);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--blue-700);
    color: var(--gray-100);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--blue-800);
    transition: all 0.2s;
}

input {
    padding: 10px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    width: calc(100% - 13px);
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--gray-400);
}

textarea {
    padding: 10px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    min-width: calc(100% - 13px);
    max-width: calc(100% - 13px);
    min-height: 100px;
}

.how-to-container {
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 1.5s forwards;
}

ol {
    color: var(--gray-800); 
}

li {
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
    color: var(--gray-600);
}

.faq-container {
    visibility: hidden;
    animation: slide-in-from-top 1.5s cubic-bezier(0, .91, .87, .93) 2.5s forwards;
    margin-bottom: 80px;
}

.faq-question {
    font-weight: 500;
    color: var(--gray-800);
}

.faq-answer {
    font-weight: 300;
    color: var(--gray-500);
    text-align: left;
}

@media (max-width: 480px) {
    .form {
        width: 90vw;
    }
}