body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    position: sticky;
    top: 10px;
    width: 60%;
    height: 70px;
    border-radius: 100px;
    z-index: 1000;
    border: 1px solid var(--gray-100);
    background-color: var(--gray-50-transparent);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.navbar-logo {
    margin-left: 20px;
    transition: transform 0.3s ease;
    width: 180px;
}

.navbar-logo:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.navbar-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.navbar-link-btn {
    width: auto;
    height: auto;
    background-color: var(--gray-100-transparent);
    color: var(--gray-900);
    text-decoration: none;
    font-size: medium;
    border: 1px solid var(--gray-200);
    transition: 0.3s ease;
}

.navbar-link-btn:hover {
    background-color: var(--gray-200-transparent);
    border: 1px solid var(--gray-300);
    color: var(--gray-950);
    cursor: pointer;
    transition: 0.3s ease;
}

@media (max-width: 950px) {

    .navbar-logo {
        display: none;
    }

    .navbar-container {
        justify-content: center;
        align-items: center;
    }

    .navbar-links {
        margin-left: 20px;
    }

}

@media (max-width: 628px) {

    .navbar-container {
        width: 90%;
    }

    .navbar-links {
        gap: 5px;
    }

    .navbar-link-btn {
        font-size: small;
    }
    
}