:root {
    --white: #ffffff;
    --gray-50-transparent: #f9fafb82;
    --gray-50: #f9fafb;
    --gray-100-transparent: #f3f4f682;
    --gray-100: #f3f4f6;
    --gray-200-transparent: #e5e7eb82;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;
    --blue-50: #f0f9ff;
    --blue-100: #dff2ff;
    --blue-200: #b9e6fe;
    --blue-300: #7bd4fe;
    --blue-400: #34bdfc;
    --blue-500: #0aa6ed;
    --blue-600: #0084cb;
    --blue-700: #0075b6;
    --blue-800: #055a87;
    --blue-900: #0a4a70;
    --blue-950: #072f4a;
    --star-yellow: #f1c40f;
    --green-50: #f0fdf4;
    --green-700: #15803d;
    --brown-50: #f9f5f3;
    --brown-700: #7c3a2d;
    --amber-50: #fffbeb;
    --amber-700: #b45309;
    --red-50: #fef2f2;
    --red-700: #c53030;
}

.footer {
    width: 100%;
    height: 320px;
    border: none;
}

.rounded-pill {
    border-radius: 100px;
    padding: 12px 24px;
    /* Erster Wert für top und bottom, zweiter Wert für left und right */
}

/* Keyframes */

@keyframes slide-in-from-top {
    from {
        position: relative;
        top: -100px;
        opacity: 0;
        visibility: visible;
        /* Sichtbarkeit während der Animation */
    }

    to {
        position: relative;
        top: 0;
        opacity: 100%;
        visibility: visible;
        /* Sichtbarkeit nach der Animation */
    }
}

@keyframes zoom-in-from-top {
    from {
        position: absolute;
        top: -200px;
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    to {
        position: sticky;
        top: 0;
        opacity: 100%;
        height: 70px;
        width: 60%;
    }
}